<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h5>注文履歴一覧</h5>
    </div>
  </div>
  <div class="row">
     <div class="col-lg-offset-1 col-lg-10">
       <table class="table">
            <thead>
                <tr class="active">
                    <th>購入日時</th>
                    <th>購入者</th>
                    <th>注文個数</th>
                    <th>注文ステータス</th>
                </tr>
            </thead>
            <tbody>
              <% @order_informations.each do |order_information| %>
  　　　        　　<tr>
                  <td><%= link_to order_information.created_at, admin_order_path(order_information) %></td>
                  <td><%= order_information.customer.name %></td>
                  <% @ordered_products.each do |ordered_product| %>
                  <td><%= ordered_products.amount %></td>
                  <% end %>
                  <td><%= order_information.status %></td>
                </tr>
　　　　　    <% end %>
            </tbody>
       </table>    
     </div>
  </div>
</div>



